﻿@model List<cpi_bo.Models.KidModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    <div class="table-responsive">
        <table id="tblAssign" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Puntaje
                    </th>
                    <th>
                        Asignar
                    </th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Count; i++)
                {
                <tr>
                    @Html.HiddenFor(m => m[i].INFANTE_ID)
                    <td>@Html.DisplayFor(m => m[i].INFANTE_NOMBRE)</td>
                    <td>@Html.DisplayFor(m => m[i].INFANTE_APELLIDO)</td>
                    <td>@Html.DisplayFor(m => m[i].INFANTE_PUNTAJETOTAL)</td>
                    <td>@Html.CheckBoxFor(m => m[i].ASIGNACION)</td>
                </tr>
            }
        </table>
    </div>
        <input class="btn btn-default" type="submit" value="Guardar" />
        }

        <script>
            $(document).ready(function () {
                $('#tblAssign').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                    }
                });
            });
        </script>
