﻿@model IEnumerable<cpi_bo.Models.ResponsibleModel>
@using cpi_bo.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Lista de responsables</h2>

<div class="table-responsive">
    <table id="tblResponsables" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RESPONSABLE_NOMBRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RESPONSABLE_APELLIDO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RESPONSABLE_DOCUMENTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RESPONSABLE_TIPODOCUMENTO_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RESPONSABLE_TIPONACIONALIDAD_ID)
                </th>
                <th></th>
            </tr>
         </thead>
            @foreach (var item in Model)
            {
                @Html.HiddenFor(modelItem => item.RESPONSABLE_ID)
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RESPONSABLE_NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RESPONSABLE_APELLIDO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RESPONSABLE_DOCUMENTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RESPONSABLE_TIPODOCUMENTO_DESCRIPCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RESPONSABLE_TIPONACIONALIDAD_DESCRIPCION)
                    </td>
                    <td>
                        @SeguridadTagHelper.SegHrefBtnConIcono("/Responsible/EditResponsible?iRespId=" + item.RESPONSABLE_ID, "btn-sm btn-warning", "glyphicon-pencil", "Edit Responsible", "", "MOD_RESP")
                        &nbsp*
                        @SeguridadTagHelper.SegHrefAjaxConModalIcon("/Responsible/DeleteResponsible?iRespId=" + item.RESPONSABLE_ID, "btn-sm btn-danger hidden-print", "modalDeleteResponsible", "glyphicon-lock", "", "Delete Responsible", "DEL_RESP")
                    </td>
                </tr>
            }

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Exportar
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"></a>@Html.ActionLink("Excel", "DowloadExcel", new { nameTable = "Responsables" })</li>
                <li><a href="#"></a>@Html.ActionLink("Csv", "ExportListToCSV", new { nameTable = "Responsables" })</li>
            </ul>
        </div>

    </table>
    <p>
        @SeguridadTagHelper.SegHrefBtnConIcono("/Responsible/AddResponsible", "btn btn-primary", "glyphicon-plus", "Agregar Responsables", "Nuevo Responsable", "ADD_RESP")
    </p>
</div>
<div class="ExportSection">
    @Html.ActionLink("Export to Csv", "ExportEmployeesListToCSV")
    @Html.ActionLink("Exportar a Excel", "DowloadExcel", new { nameTable = "Responsables" }, new { @class = "btn-success glyphicon-download-alt" })
</div>

<div class="modal fade" id="modalDeleteResponsible" tabindex="-1" role="dialog">
</div>

<script>

        $(document).ready(function () {

            $('.detailsUser_icon').html("<i class='glyphicon glyphicon-list-alt ' aria-hidden='true' data-toggle='tooltip' title = 'Ver detalles' ></i>");
            $('#tblResponsables').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });
</script>
