﻿@media print {
    .no-print {display: none;}
}

.pagination {display: none;}

.dataTables_length {display: none;}

.dataTables_filter {display: none;}

.dataTables_info {display: none;}

table.dataTable thead .sorting_asc:after {display: none;}
table.dataTable thead .sorting:after {display: none;}