﻿@model cpi_bo.Models.FamilyModel
@using (Html.BeginForm("DeleteFamily", "Family"))
{
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Esta seguro que quiere eliminar al familiar @Model.FAMILIAR_APELLIDO</h4>
            </div>
            <div class="modal-body">
                <h2>@ViewBag.Msg</h2>
                @Html.HiddenFor(modelItem => Model.FAMILIAR_ID)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Eliminar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

}


