﻿@model cpi_bo.Models.FamilyModel

@{
    ViewBag.Title = "EditFamily";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edición de familiares</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.FAMILIAR_ID)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FAMILIAR_NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAMILIAR_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAMILIAR_NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAMILIAR_APELLIDO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAMILIAR_APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAMILIAR_APELLIDO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAMILIAR_TIPODOCUMENTO_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FAMILIAR_TIPODOCUMENTO_ID, new SelectList(ViewBag.comboDocumentType, "ID", "DESCRIPCION"), "Seleccionar tipo de Documento", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FAMILIAR_TIPODOCUMENTO_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAMILIAR_DOCUMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAMILIAR_DOCUMENTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAMILIAR_DOCUMENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="docverify">

        </div>

        @{
            List<SelectListItem> listGender = new List<SelectListItem>();
            listGender.Add(new SelectListItem
            {
                Text = "Masculino",
                Value = "M"
            });
            listGender.Add(new SelectListItem
            {
                Text = "Femenino",
                Value = "F",
                Selected = true
            });
        }

        <div class="form-group">
            @Html.LabelFor(model => model.FAMILIAR_GENERO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FAMILIAR_GENERO, new SelectList(listGender, "Value", "Text"), "Seleccionar género", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FAMILIAR_GENERO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAMILIAR_FECHANACIMIENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAMILIAR_FECHANACIMIENTO, new { htmlAttributes = new { @class = "form-control date-picker", @type = "date" } })
                @Html.ValidationMessageFor(model => model.FAMILIAR_FECHANACIMIENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAMILIAR_ESTADOCIVIL_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FAMILIAR_ESTADOCIVIL_ID, new SelectList(ViewBag.comboMaritalStatus, "ID", "DESCRIPCION"), "Seleccionar Estado Civil", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FAMILIAR_ESTADOCIVIL_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAMILIAR_OBRASOCIAL_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FAMILIAR_OBRASOCIAL_ID, new SelectList(ViewBag.comboSocialWork, "ID", "DESCRIPCION"), "Seleccionar Obra Social", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FAMILIAR_OBRASOCIAL_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script>

    $("#FAMILIAR_DOCUMENTO").focusout(function () {
        familyVerify($("#FAMILIAR_DOCUMENTO").val());
    });

    function familyVerify(sDocFamily) {
        $.ajax(
        {
            type: 'GET',
            data: { sDocFamily: sDocFamily },
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            async: true,
            url: '/Family/VerifyDoc/',
            success: function (result) {
                $("#docverify").empty();
                if (result.result) {
                    $("#docverify").append(result.message);
                } else {
                    $("#docverify").append(result.message);
                }
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    };

</script>




