﻿@model IEnumerable<cpi_bo.Models.FamilyModel>
@using cpi_bo.Helpers
@{
    ViewBag.Title = "Familiares";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listado de familiares</h2>
<div class="table-responsive">
    @if (ViewBag.Message != null)
    {
        @Html.Raw(ViewBag.Message)
    }

    <div class="row">
        <div class="col-sm-2">
            <p>
                @SeguridadTagHelper.SegHrefBtnConIcono("/Family/AddFamily", "btn btn-primary", "glyphicon-plus", "Agregar familiar", "Nuevo familiar", "ADD_FAM")
            </p>
        </div>

        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Exportar
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#"></a>@Html.ActionLink("Excel", "DowloadExcel", new { nameTable = "Familiares" })</li>
                    <li><a href="#"></a>@Html.ActionLink("Csv", "ExportListToCSV", new { nameTable = "Familiares" })</li>
                </ul>
            </div>
        </div>
      </div>

            <table id="tblUsers" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FAMILIAR_NOMBRE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FAMILIAR_APELLIDO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FAMILIAR_FECHANACIMIENTO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FAMILIAR_DOCUMENTO)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FAMILIAR_NOMBRE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FAMILIAR_APELLIDO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FAMILIAR_FECHANACIMIENTO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FAMILIAR_DOCUMENTO)
                        </td>
                        <td>
                            @SeguridadTagHelper.SegHrefBtnConIcono("/Family/EditFamily?sFamilyId=" + item.FAMILIAR_ID, "btn-sm btn-warning", "glyphicon-pencil", "Editar familiar", "", "EDIT_FAM")
                            @SeguridadTagHelper.SegHrefAjaxConModalIcon("/Family/DeleteFamily?sFamilyId=" + item.FAMILIAR_ID, "btn-sm btn-danger hidden-print", "modalDeleteFamily", "glyphicon-lock", "", "Eliminar familiar", "DEL_FAM")
                        </td>
                    </tr>
                }
    </table>
</div>

<div class="modal fade " id="modalAddFamily" tabindex="-1" role="dialog">
</div>
<div class="modal fade " id="modalEditProfile" tabindex="-1" role="dialog">
</div>
<div class="modal fade" id="modalDetailFamily" tabindex="-1" role="dialog">
</div>
<div class="modal fade" id="modalDeleteFamily" tabindex="-1" role="dialog">
</div>
<div class="modal fade" id="modalViewPerm" tabindex="-1" role="dialog">
</div>

<script>
        $(document).ready(function () {
            $('.detailsFamily_icon').html("<i class='glyphicon glyphicon-list-alt ' aria-hidden='true' data-toggle='tooltip' title = 'Ver detalles' ></i>");
            $('#tblUsers').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });
</script>
