﻿@model cpi_bo.Models.ActivityModel

@{
    ViewBag.Title = "EditActivity";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edición de actividades</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.EMPLEADOACTIVIDAD_ID)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADOACTIVIDAD_ACTIVIDAD_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EMPLEADOACTIVIDAD_ACTIVIDAD_ID, new SelectList(ViewBag.comboActivityType, "ID", "DESCRIPCION"), "Seleccionar Actividad", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMPLEADOACTIVIDAD_ACTIVIDAD_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADOACTIVIDAD_EMPLEADO_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EMPLEADOACTIVIDAD_EMPLEADO_ID, new SelectList(ViewBag.comboEmployees, "ID", "DESCRIPCION"), "Seleccionar Empleado", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMPLEADOACTIVIDAD_EMPLEADO_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADOACTIVIDAD_FECHA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADOACTIVIDAD_FECHA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADOACTIVIDAD_FECHA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADOACTIVIDAD_HORA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADOACTIVIDAD_HORA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADOACTIVIDAD_HORA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADOACTIVIDAD_ANOTACION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADOACTIVIDAD_ANOTACION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADOACTIVIDAD_ANOTACION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
