﻿@model IEnumerable<cpi_bo.Models.ActivityModel>
@using cpi_bo.Helpers
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listado de Actividades</h2>
<div class="table-responsive">
    <div class="row">
        <div class="col-sm-2">
            <p>
                @SeguridadTagHelper.SegHrefBtnConIcono("/Activity/AddActivity", "btn btn-primary", "glyphicon-plus", "Agregar actividad", "Agregar actividad", "ADD_FAM")
            </p>
        </div>

        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Exportar
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#"></a>@Html.ActionLink("Excel", "DowloadExcel", new { nameTable = "empleados_actividades" })</li>
                    <li><a href="#"></a>@Html.ActionLink("Csv", "ExportListToCSV", new { nameTable = "empleados_actividades" })</li>
                </ul>
            </div>
        </div>
    </div>

            <table id="tblactividades" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EMPLEADOACTIVIDAD_ACTIVIDAD_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EMPLEADOACTIVIDAD_EMPLEADO_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EMPLEADOACTIVIDAD_FECHA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EMPLEADOACTIVIDAD_HORA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EMPLEADOACTIVIDAD_ANOTACION)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
            {
                    <tr>
                        @Html.HiddenFor(modelItem => item.EMPLEADOACTIVIDAD_ID)
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPLEADOACTIVIDAD_ACTIVIDAD_DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPLEADOACTIVIDAD_EMPLEADO_DESCRIPCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPLEADOACTIVIDAD_FECHA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPLEADOACTIVIDAD_HORA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPLEADOACTIVIDAD_ANOTACION)
                        </td>
                        <td>
                            @SeguridadTagHelper.SegHrefBtnConIcono("/Activity/EditActivity?actId=" + item.EMPLEADOACTIVIDAD_ID, "btn-sm btn-warning", "glyphicon-pencil", "Edit Activity", "", "MOD_ACTI")
                        </td>
                    </tr>
                }

    </table>
</div>
<div class="modal fade " id="modalAddActivity" tabindex="-1" role="dialog">
</div>
<div class="modal fade" id="modalDetailActivity" tabindex="-1" role="dialog">
</div>
<div class="modal fade" id="modalViewPerm" tabindex="-1" role="dialog">
</div>

<script>

 $(document).ready(function () {

            $('.detailsActivity_icon').html("<i class='glyphicon glyphicon-list-alt ' aria-hidden='true' data-toggle='tooltip' title = 'Ver detalles' ></i>");
            $('#tblactividades').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });
</script>
