﻿@model cpi_bo.Models.LoginModel
@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .form-signin-heading, .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                font-size: 16px;
                height: auto;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="text"] {
                margin-bottom: -1px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

        .account-wall {
            margin-top: 20px;
            padding: 40px 0px 20px 0px;
            background-color: white;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .login-title {
            color: #555;
            font-size: 18px;
            font-weight: 400;
            display: block;
        }

        .profile-img {
            width: 96px;
            height: 96px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        .need-help {
            margin-top: 10px;
        }

        .new-account {
            display: block;
            margin-top: 10px;
        }
    </style>
</head>
<body style="background-color:lightgray">
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">

                    <img class="profile-img" src="~/Content/images/nouser.png" />
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-signin" }))
                    {
                        @Html.ValidationMessage("ErrorLogin", null, new { @class = "text-danger" })

                        @Html.TextBoxFor(model => model.USUARIO_NICK, new { @class = "form-control", placeholder = "Usuario", required = "required", autofocus = "autofocus" })
                        @Html.TextBoxFor(model => model.USUARIO_CLAVE, new { @class = "form-control", placeholder = "Password", type = "password", required = "required" })

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in
                        </button>
                        @*<label class="checkbox pull-left ">
                                <input type="checkbox" class="pull-left" value="remember-me">
                                Remember me
                            </label>*@
                        <a href="/RecoveryPassword/Index" class="pull-right need-help">He olvidado mi contraseña</a><span class="clearfix"></span>

                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>