﻿@model cpi_bo.Models.ProfileModel

@using (Html.BeginForm("AddProfile", "Profile"))
{
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar perfil</h4>
            </div>
            <div class="modal-body">
                <h2>@ViewBag.Msg</h2>
                <form>
                    <div class="form-group">
                        @Html.LabelFor(model => model.perfil_nombre)
                        @Html.TextBoxFor(model => model.perfil_nombre, new { @class = "form-control", placeholder = "Nombre del perfil" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.perfil_descripcion)
                        @Html.TextAreaFor(model => model.perfil_descripcion, new { @class = "form-control", placeholder = "Descripción del perfil" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Agregar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

}