﻿@model cpi_bo.Models.ProfileModel
@using (Html.BeginForm("DeleteProfile", "Profile"))
            {
<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <h3>¿Seguro quiere eliminar este perfil?</h3>
            </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.HiddenFor(model => model.perfil_id)
                </dt>
            </dl>
           
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            
        </div>

        </div>
</div>
}