﻿@{
    ViewBag.Title = "Add Rol Perm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewBag.sRoleName
            <small>Add permission</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="glyphicon glyphicon-user"></i> <a href="/Profile/Index">Roles</a>
            </li>
            <li>
                <i class="glyphicon glyphicon-plus"></i> Add permission to role
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div id="div-PermDisp" class="col-lg-6">
    </div>

    <div id="div-PermAsig" class="col-lg-6">
    </div>
</div>
<script>
    $(document).ready(function () {

        var iRoleId = '@ViewBag.iRoleId';
        var sRoleName = '@ViewBag.sRoleName';
        showPermDisp(iRoleId, sRoleName);
        showPermAsig(iRoleId, sRoleName);

    });

    function showPermDisp(iRoleId, sRoleName) {
        var htmlPreLoad = '<div class="loader"></div>'
        $("#div-PermDisp").empty();  // limpias el div
        $("#div-PermDisp").html(htmlPreLoad); // mostras el pre load CARGANDO...

        $.ajax(
        {
            type: 'GET',
            data: { iRoleId: iRoleId, sRoleName: sRoleName },
            dataType: 'html',
            url: '/Perm/ListPermDisp/',
            success: function (result) {
                $("#div-PermDisp").empty();
                $("#div-PermDisp").html(result);
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    };


    function showPermAsig(iRoleId, sRoleName) {
        var htmlPreLoad = '<div class="loader"></div>'
        $("#div-PermAsig").empty();  // limpias el div
        $("#div-PermAsig").html(htmlPreLoad); // mostras el pre load CARGANDO...

        $.ajax(
        {
            type: 'GET',
            data: { iRoleId: iRoleId, sRoleName: sRoleName },
            dataType: 'html',
            url: '/Perm/ListPermAsig/',
            success: function (result) {
                $("#div-PermAsig").empty();
                $("#div-PermAsig").html(result);
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    };
</script>