﻿@model IEnumerable<cpi_bo.Models.ProfileModel>
@using cpi_bo.Helpers
@{
    ViewBag.Title = "Perfiles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>

        $(document).ready(function () {
            $('.perm_lnk').html("<i class='glyphicon glyphicon-cog'></i>");

        });
</script>
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Perfiles
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="glyphicon glyphicon-cog"></i> Perfiles
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

        @if (ViewBag.Message != null)
        {
            @Html.Raw(ViewBag.Message)
        }
        <div class="table-responsive">
            <p>
                @SeguridadTagHelper.SegHrefAjaxConModalIcon("/Profile/AddProfile", "btn btn-primary", "modalAddProfile", "glyphicon-plus", "Agregar Perfil", "", "ADD_PROF")
            </p>
            <table class="table ">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.perfil_nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.perfil_descripcion)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.perfil_nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.perfil_descripcion)
                        </td>
                        <td>
                            @Html.ActionLink("AddRolPerm", "AddRolPerm", new { iRoleId = item.perfil_id , sRoleName = item.perfil_nombre }, new { @class= "perm_lnk btn-sm btn-warning" })
                            @SeguridadTagHelper.SegHrefBtnConIcono("/Profile/AddRolPerm?iRoleId=" + item.perfil_id + "&sRoleName=" + item.perfil_nombre, "btn btn-sm btn-info", "glyphicon-cog", "Add Perm", "", "AB_PERM")
                            @SeguridadTagHelper.SegHrefAjaxConModalIcon("/Profile/EditProfile?iProfId=" + item.perfil_id, "btn btn-sm btn-warning", "modalEditProfile", "glyphicon-pencil", "", "Editar", "EDIT_PROF")
                            @SeguridadTagHelper.SegHrefAjaxConModalIcon("/Profile/DeleteProfile?iProfId=" + item.perfil_id, "btn btn-sm btn-warning", "modalDeleteProfile", "glyphicon-pencil", "", "Eliminar", "DELT_PROF")
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="modal fade " id="modalAddProfile" tabindex="-1" role="dialog">
</div>
<div class="modal fade " id="modalEditProfile" tabindex="-1" role="dialog">
</div>
<div class="modal fade " id="modalDeleteProfile" tabindex="-1" role="dialog">
</div>


