﻿@using cpi_bo.Helpers

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Datatables/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    @*<link href="~/Content/datatables.min.css" rel="stylesheet" />*@
    <link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="~/Content/loader.css" rel="stylesheet" />
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <link href="~/styleAdmin/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/styleAdmin/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/styleAdmin/morrisjs/morris.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/chart.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    @*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
    
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/styleAdmin/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/datatables.min.js"></script>*@
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>

    <script src="~/styleAdmin/metisMenu/metisMenu.min.js"></script>
    <script src="~/styleAdmin/raphael/raphael.min.js"></script>
    <script src="~/styleAdmin/morrisjs/morris.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/styleAdmin/dist/js/sb-admin-2.min.js"></script>

    <div id="wrapper">
      
        <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">CPI</a>
                <a class="navbar-brand" href="/Home/Index">Versión 0.0.1</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        @Html.Encode(User.Identity.Name)
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Reportes</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Login/LogOut"><span class="glyphicon glyphicon-log-in"></span> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
             <div class="navbar-default sidebar" role="navigation">
                 <div class="sidebar-nav navbar-collapse">
                     <ul class="nav" id="side-menu">
                         <li class="sidebar-search">
                             <div class="input-group custom-search-form">
                                 <input type="text" class="form-control" placeholder="Search...">
                                 <span class="input-group-btn">
                                     <button class="btn btn-default" type="button">
                                         <i class="fa fa-search"></i>
                                     </button>
                                 </span>
                             </div>
                             <!-- /input-group -->
                         </li>
                         <li class="@(ViewBag.Title == "Inicio" ? "active" : "")">
                             <a href="/Admin/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Admin</a>
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Seguridad<span class="fa arrow"></span></a>
                             <ul class="nav nav-second-level">
                                 <li class="@(ViewBag.Title == "Users" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefMenuConIcono("/User/Index", "glyphicon-user", "Usuarios", "READ_USERS")
                                 </li>
                                 <li class="@(ViewBag.Title == "Perfiles" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefMenuConIcono("/Profile/Index", "glyphicon-cog", "Perfiles", "READ_PROF")
                                 </li>
                                 <li class="@(ViewBag.Title == "BackUp" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefAjaxConModalIcon("/BackUp/CreateBackUp", "", "modalCreateBackUp", "glyphicon-lock", "BackUp", "BackUp", "BACKUP")
                                 </li>
                             </ul>
                             <!-- /.nav-second-level -->
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-wrench fa-fw"></i>Infantes<span class="fa arrow"></span></a>
                             <ul class="nav nav-second-level">
                                 <li class="@(ViewBag.Title == "Infantes" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefMenuConIcono("/Kid/Index", "glyphicon-user", "Infantes", "READ_KID")
                                 </li>
                                 <li class="@(ViewBag.Title == "Responsables" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefMenuConIcono("/Responsible/Index", "glyphicon-user", "Responsables", "READ_RESP")
                                 </li>
                                 <li class="@(ViewBag.Title == "Asignación infantes" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefMenuConIcono("/Assign/Index", "glyphicon-user", "Asignación de infantes", "APR_INF")
                                 </li>
                             </ul>
                             <!-- /.nav-second-level -->
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-sitemap fa-fw"></i>Empleados<span class="fa arrow"></span></a>
                             <ul class="nav nav-second-level">
                                 <li class="@(ViewBag.Title == "Empleados" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefMenuConIcono("/Employees/Index", "glyphicon-briefcase", " Empleados", "READ_EMP")
                                 </li>
                                 <li class="@(ViewBag.Title == "Familiares" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefMenuConIcono("/Family/Index", "glyphicon-heart", "Familiares", "READ_FAM")
                                 </li>
                             </ul>
                             <!-- /.nav-third-level -->
                         </li>
                         <li class="@(ViewBag.Title == "Actividad" ? "active" : "")">
                             @SeguridadTagHelper.SegHrefMenuConIcono("/Activity/Index", "glyphicon-list-alt", "Actividades", "READ_ACTI")
                         </li>
						 <li class="@(ViewBag.Title == "Salas" ? "active" : "")">
                             @SeguridadTagHelper.SegHrefMenuConIcono("/Room/Index", "glyphicon-list-alt", "Salas", "READ_ROOMS")
							 <li class="@(ViewBag.Title == "Auditoria" ? "active" : "")">
                             @SeguridadTagHelper.SegHrefMenuConIcono("/Audit/Index", "glyphicon-list-alt", "Auditoria", "READ_AUD")
							 </li>
                         <li class="@(ViewBag.Title == "Log" ? "active" : "")">
                             @SeguridadTagHelper.SegHrefMenuConIcono("/Log/Index", "glyphicon-list-alt", "Log Operations", "READ_LOGS")
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-sitemap fa-fw"></i>Graficos<span class="fa arrow"></span></a>
                             <ul class="nav nav-second-level">                              
                                 <li class="@(ViewBag.Title == "Género de infantes" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefMenuConIcono("/Graphic/BoysAndGirls", "glyphicon-stats", "Grafico de género", "STAT_GEN")
                                 </li>
                                 <li class="@(ViewBag.Title == "Nacionalidades de infantes" ? "active" : "")">
                                     @SeguridadTagHelper.SegHrefMenuConIcono("/Graphic/Nationality", "glyphicon-stats", "Grafico de nacionalidad", "STAT_NAT")
                                 </li>
                             </ul>
                             <!-- /.nav-third-level -->
                         </li>
                     </ul>
                 </div>
                 <!-- /.sidebar-collapse -->
             </div>   
      
        </nav> <!--fin del nav-->
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCreateBackUp" tabindex="-1" role="dialog">
    </div>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>

</body>
</html>
