@model IEnumerable<cpi_bo.Models.KidModel>
@using cpi_bo.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Listado de infantes</h2>

<div class="row">
    <div class="col-sm-2">
        <p>
            @SeguridadTagHelper.SegHrefBtnConIcono("/Kid/AddKid", "btn btn-primary", "glyphicon-plus", "Agregar infantes", "Nuevo infante", "ADD_KID")
        </p>
     </div>
    <div class="col-sm-6">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Exportar
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"></a>@Html.ActionLink("Excel", "DowloadExcel", new { nameTable = "Infantes" })</li>
                <li><a href="#"></a>@Html.ActionLink("Csv", "ExportListToCSV", new { nameTable = "Infantes" })</li>
            </ul>
        </div>
      </div>
</div>

<div class="table-responsive">
    <table id="tblKids" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_NOMBRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_APELLIDO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_DOCUMENTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_GENERO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_FECHANACIMIENTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_FECHAINGRESO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_DOMICILIO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_LOCALIDAD_CODIGOPOSTAL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_SALA_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_ESTADO_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INFANTE_PUNTAJETOTAL)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.INFANTE_ID)
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_APELLIDO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_DOCUMENTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_GENERO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_FECHANACIMIENTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_FECHAINGRESO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_DOMICILIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_LOCALIDAD_CODIGOPOSTAL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_DESCRIPCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_ESTADO_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INFANTE_PUNTAJETOTAL)
                    </td>
                    <td>
                        @SeguridadTagHelper.SegHrefBtnConIcono("/Kid/EditKid?kidId=" + item.INFANTE_ID, "btn-sm btn-warning", "glyphicon-pencil", "Edit User", "", "MOD_KID")
                        &nbsp
                        @SeguridadTagHelper.SegHrefAjaxConModalIcon("/Kid/DeleteKid?kidId=" + item.INFANTE_ID, "btn-sm btn-danger hidden-print", "modalDeleteKid", "glyphicon-lock", "", "Delete Infante", "DEL_INT")
                    </td>
                    <td>
                        @SeguridadTagHelper.SegHrefBtnConIcono("/Kid/SurveyKid?id=" + item.INFANTE_ID, "btn-sm btn-warning", "glyphicon-file", "Survey children", "", "SURVEY_KID")
                    </td>
                </tr>
            }
    </table>
</div>


<div class="modal fade" id="modalDeleteKid" tabindex="-1" role="dialog">
</div>

    <script>

        $(document).ready(function () {
            $('.detailsUser_icon').html("<i class='glyphicon glyphicon-list-alt ' aria-hidden='true' data-toggle='tooltip' title = 'Ver detalles' ></i>");
            $('#tblKids').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });
    </script>
