﻿    
@{
    ViewBag.Title = "SurveyKid";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/scripts/angular.min.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
<script src="~/Scripts/survey/Module.js"></script>
<script src="~/Scripts/survey/Service.js"></script>
<script src="~/Scripts/survey/Controller.js"></script>
<script src="~/Scripts/angular-ui-router.min.js"></script>

<div class="container">
    <div class="row form-group">
        <div class="col-sm-12">
            <a href="/Kid/index" data-toggle='tooltip' title="Volver a Infantes" class="btn btn-primary"><i class="modalAddProfile" aria-hidden='true'></i> Volver a Infantes</a>
        </div>
    </div>
    <section id="portfolio" class="portfolio teal lighten-3" ng-app="appAdmin">
        <div ng-cloak ng-controller="AdminCtrl" class="form-group">
            <div ng-show="nextFamilyOrganization">
                <h4>Composicion del grupo familiar</h4>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>1. Organización familiar</strong>
                        </label>
                        <div ng-repeat="option in FamilyCompositions">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='FamilyOrganization.FAMILIARACARGO'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>2. ¿Alguno de sus padres se encuentra privado de la libertad (en situacion penal)?</strong>
                        </label>
                        <div ng-repeat="option in DeprivedOfLiberty">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='FamilyOrganization.FAMILIARPRIVADOLIBERTAD'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>3. Número de hermanos: </strong>
                        </label>
                        <div ng-repeat="option in NumberOfSiblings" class="btn-group">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='FamilyOrganization.CANTIDADHERMANOS'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>4. Madre adolecente (Se considera madre adolecente a quella que tiene entre 11 y 19)</strong>
                        </label>
                        <div ng-repeat="option in AdolescentMother" class="btn-group">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='FamilyOrganization.MADREADOLECENTE'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>5. ¿Hay alguna mujer embarazada dentro del grupo familiar conviviente?</strong>
                        </label>
                        <div ng-repeat="option in pregnantWoman" class="btn-group">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='FamilyOrganization.FAMILIAREMBARAZADA'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="infanteId" ng-model="infanteId" ng-init="infanteId=@ViewBag.infanteId" />
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-click="saveFamilyOrganization(FamilyOrganization)">
                                Grabar e ir a Salud
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="nextHealth">
                <h4>Salud</h4>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>6. Condiciones de salud dentro del grupo familiar</strong>
                        </label>
                        <div ng-repeat="option in CondicionesDeSaludFamiliar">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Health.CONDICIONESDESALUDFAMILIAR'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>7. Cobertura de salud de la familia</strong>
                        </label>
                        <div ng-repeat="option in CoberturaDeSaludFamiliar">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Health.COBERTURADESALUDFAMILIAR'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>8. Control de salud del niño/a</strong>
                        </label>
                        <div ng-repeat="option in ControlDeSaludDelInfante" class="btn-group">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Health.CONTROLDESALUDDELINFANTE'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>9. Esquema de vacunación del niño/a </strong>
                        </label>
                        <div ng-repeat="option in VacunacionDelInfante" class="btn-group">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Health.VACUNACIONDELINFANTE'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="hidden" id="infanteId" ng-model="infanteId" ng-init="infanteId=@ViewBag.infanteId" />
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-click="saveHealth(Health)">
                                Guardar e ir a Educacion
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="nextEducation">
                <h4>Educación</h4>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>10. Escolarización de los hijos entre 4 y 18 años</strong>
                        </label>
                        <div ng-repeat="option in EscolarizacionDeLosInfantes">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Education.ESCOLARIZACIONDELOSINFANTES'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>11. En caso de madre adolecente</strong>
                        </label>
                        <div ng-repeat="option in MadreAdolescente">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Education.MADREADOLESCENTE'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>               
                <div>
                    <input type="hidden" id="infanteId" ng-model="infanteId" ng-init="infanteId=@ViewBag.infanteId" />
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-click="saveEducation(Education)">
                                Guardar e ir a situación laboral
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="nextWorkSituation">
                <h4>Situación laboral</h4>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>12. ¿Cuántos miembros del grupo familiar conviviente trabajan?</strong>
                        </label>
                        <div ng-repeat="option in TrabajoEnLaFamilia">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='WorkSituation.TRABAJOENLAFAMILIA'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>13. ¿Por lo menos uno de los que trabaja es menor de edad?</strong>
                        </label>
                        <div ng-repeat="option in TrabajoMenorDeEdad">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='WorkSituation.TRABAJOMENORDEEDAD'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="hidden" id="infanteId" ng-model="infanteId" ng-init="infanteId=@ViewBag.infanteId" />
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-click="saveWorkSituation(WorkSituation)">
                                Guardar e ir a ingreso económico
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="nextFamilyEconomy">
                <h4>Ingreso económico del grupo familiar</h4>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>14. ¿Donde se ubica el ingreso familiar?</strong>
                        </label>
                        <div ng-repeat="option in IngresoFamiliar">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='FamilyEconomy.UBICACIONINGRESOFAMILIAR'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>15. ¿Reciben desde el Gobierno algún beneficio social?</strong>
                        </label>
                        <div ng-repeat="option in BeneficioSocial">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='FamilyEconomy.BENEFICIOSOCIAL'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="hidden" id="infanteId" ng-model="infanteId" ng-init="infanteId=@ViewBag.infanteId" />
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-click="saveFamilyEconomy(FamilyEconomy)">
                                Guardar e ir a Vivienda
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="nextDwelling">
                <h4>Vivienda</h4>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>16. Tipo de vivienda donde habita la familia</strong>
                        </label>
                        <div ng-repeat="option in TipoDeVivienda">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Dwelling.TIPOVIVIENDA'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>17. La vivienda donde habita la familia es: </strong>
                        </label>
                        <div ng-repeat="option in DerechoHabitarLaVivienda">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Dwelling.TIPOPROPIEDAD'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>18. ¿Cuántas personas duermen por habitacion?</strong>
                        </label>
                        <div ng-repeat="option in CantidadDePersonasPorHabitacion">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Dwelling.CANTIDADPERSONASPORHABITACION'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>19. Servicios básicos con los que cuenta la vivienda</strong>
                        </label>
                        <div ng-repeat="option in ServiciosBasicos">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='Dwelling.SERVICIOSVIVIENDA'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="hidden" id="infanteId" ng-model="infanteId" ng-init="infanteId=@ViewBag.infanteId" />
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-click="saveDwelling(Dwelling)">
                                Guardar e ir a Vivienda
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="nextSocialProblem">
                <h4>Vivienda</h4>
                <div class="row form-group question">
                    <div class="col-sm-8">
                        <label>
                            <strong>20. Surgió durante la entrevista algún tipo de problemática social que requiera la interverción de algún organismo específico?
                            (adicciones, violencia familiar, maltrato y/o abuso infantil, etc.)?</strong>
                        </label>
                        <div ng-repeat="option in ProblemaSocial">
                            <label class='btn btn-default option-btn btn-group-justified'
                                   ng-model='SocialProblem.REQUIEREINTERVENCION'
                                   uib-btn-radio="{{option.value}}">
                                {{option.question}}
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="hidden" id="infanteId" ng-model="infanteId" ng-init="infanteId=@ViewBag.infanteId" />
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-click="saveSocialProblem(SocialProblem)">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>