﻿@model IEnumerable<cpi_bo.Models.AuditModel>
@using cpi_bo.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listado de Auditoria</h2>

<div class="table-responsive">

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Exportar
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#"></a>@Html.ActionLink("Excel", "DowloadExcel", new { nameTable = "Auditorias" })</li>
            <li><a href="#"></a>@Html.ActionLink("Csv", "ExportListToCSV", new { nameTable = "Auditorias" })</li>
        </ul>
    </div>

    <table id="tblAuditorias" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AUDITORIA_FECHAHORA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AUDITORIA_MODULO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AUDITORIA_USUARIO_NICK)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AUDITORIA_ACCION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AUDITORIA_ESTADO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AUDITORIA_MENSAJE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AUDITORIA_NOMBRECONTROLADOR)
                </th>
            </tr>
         </thead>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.AUDITORIA_ID)
                    <td>
                        @Html.DisplayFor(modelItem => item.AUDITORIA_FECHAHORA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUDITORIA_MODULO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUDITORIA_USUARIO_NICK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUDITORIA_ACCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUDITORIA_ESTADO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUDITORIA_MENSAJE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUDITORIA_NOMBRECONTROLADOR)
                    </td>
                </tr>
            }
    </table>
</div>

<script>
        $(document).ready(function () {
            $('#tblAuditorias').DataTable();
        });
</script>