﻿@model cpi_bo.Models.UserModel
@using (Html.BeginForm("DeleteUser", "User"))
{
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Model.USUARIO_NICK Edit Password</h4>
            </div>
            <div class="modal-body">
                <h2>@ViewBag.Msg</h2>
                @Html.HiddenFor(model => model.USUARIO_NICK)
                <div class="form-group">
                    @Html.LabelFor(model => model.USUARIO_CLAVE)
                    @Html.TextAreaFor(model => model.USUARIO_CLAVE, new { @class = "form-control password", placeholder = "User password new" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

}
