﻿@model IEnumerable<cpi_bo.Models.UserModel>
@using cpi_bo.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Listado de Usuarios</h2>

<div class="table-responsive">
    <div class="row">
        <div class="col-sm-2">
            <p>
               @SeguridadTagHelper.SegHrefBtnConIcono("/User/AddUser", "btn btn-primary", "glyphicon-plus", "Agregar usuario", "Agregar usuario", "ADD_USER")
            </p>
        </div>
        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Exportar
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#"></a>@Html.ActionLink("Excel", "DowloadExcel", new { nameTable = "Usuarios" })</li>
                    <li><a href="#"></a>@Html.ActionLink("Csv", "ExportListToCSV", new { nameTable = "Usuarios" })</li>
                </ul>
            </div>
        </div>
    </div>

        <table id="tblUsers" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.USUARIO_NICK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USUARIO_NOMBRE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USUARIO_APELLIDO)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USUARIO_PERFIL_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USUARIO_ESTADO_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USUARIO_EMAIL)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.USUARIO_NICK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USUARIO_NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USUARIO_APELLIDO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USUARIO_DESCRIPCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USUARIO_ESTADO_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USUARIO_EMAIL)
                    </td>
                    <td>
                        @SeguridadTagHelper.SegHrefBtnConIcono("/User/EditUser?sUserNick=" + item.USUARIO_NICK, "btn-sm btn-warning hidden-print", "glyphicon-pencil", "Edit User", "", "MOD_USERS")
                        &nbsp
                        @SeguridadTagHelper.SegHrefAjaxConModalIcon("/User/DeleteUser?sUserNick=" + item.USUARIO_NICK, "btn-sm btn-danger hidden-print", "modalEditUserPass", "glyphicon-lock", "", "Delete Users", "PSW_USERS")
                    </td>
                </tr>
            }

        </table>

    </div>
<button onclick="createReport()" class="btn btn-primary no-print">Reporte</button>
<div class="modal fade" id="modalEditUserPass" tabindex="-1" role="dialog">
</div>
<script>
        $(document).ready(function () {
            $('.detailsUser_icon').html("<i class='glyphicon glyphicon-list-alt ' aria-hidden='true' data-toggle='tooltip' title = 'Ver detalles' ></i>");
            $('#tblUsers').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });
        function createReport() {
            window.print();
        };
</script>
