﻿@model IEnumerable<cpi_bo.Models.PermissionsModel>

<div class="panel panel-success">
    <div class="panel-heading">Permisos Disponibles</div>
    <div class="panel-body">
        <div class="panel-group" id="accordionPermDisp" role="tablist" aria-multiselectable="true">
            @foreach (var PERMISO_MODULO in Model.OrderBy(c => c.PERMISO_MODULO).Select(c => c.PERMISO_MODULO).Distinct())
            {
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="DISP_HEADING_@(PERMISO_MODULO)">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordionPermDisp" href="#DISP_@(PERMISO_MODULO)" aria-expanded="true" aria-controls="DISP_@(PERMISO_MODULO)">
                                @PERMISO_MODULO
                            </a>
                        </h4>
                    </div>
                    <div id="DISP_@(PERMISO_MODULO)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="DISP_HEADING_@(PERMISO_MODULO)">
                        <div class="panel-body">
                            <ul class="list-group">
                                @foreach (var PERM in Model.Where(c => c.PERMISO_MODULO == PERMISO_MODULO).OrderBy(c => c.PERMISO_DESCRIPCION))
                                {
                                    <li class="list-group-item list-group-item-success ">
                                        @Html.ActionLink("AddPermToRol", "AddPermToRol", new { iRoleId = ViewBag.iRoleId, sRoleName = ViewBag.sRoleName, sPerm = PERM.PERMISO_ID }, new { @class = "add_perm_lnk" })
                                        @PERM.PERMISO_DESCRIPCION
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>

        $(document).ready(function () {

            $('.add_perm_lnk').html("<i class='glyphicon glyphicon-plus'></i>");

        });
</script>
