﻿@model IEnumerable<cpi_bo.Models.PermissionsModel>
<div class="panel panel-primary">
    <div class="panel-heading">Permisos Asignados</div>
    <div class="panel-body">
        <div class="panel-group" id="accordionPermAsig" role="tablist" aria-multiselectable="true">
            @if (Model.Count() > 0)
            {
                foreach (var PERM_MODULE in Model.OrderBy(c => c.PERMISO_MODULO).Select(c => c.PERMISO_MODULO).Distinct())
                {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="HEADING_@(PERM_MODULE)">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordionPermAsig" href="#@(PERM_MODULE)" aria-expanded="true" aria-controls="@PERM_MODULE">
                                    @PERM_MODULE
                                </a>
                            </h4>
                        </div>
                        <div id="@PERM_MODULE" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="HEADING_@(PERM_MODULE)">
                            <div class="panel-body">
                                <ul class="list-group">
                                    @foreach (var PERM in Model.Where(c => c.PERMISO_MODULO == PERM_MODULE).OrderBy(c => c.PERMISO_DESCRIPCION))
                                    {
                                        <li class="list-group-item list-group-item-info">
                                            @*<a href="#" class="text-right"><i class="glyphicon glyphicon-remove text-danger"></i></a>*@
                                            @Html.ActionLink("DeletePermToRol", "DeletePermToRol", new { iRoleId = ViewBag.iRoleId, sRoleName = ViewBag.sRoleName, sPerm = PERM.PERMISO_ID }, new { @class = "delete_perm_lnk" })
                                            @PERM.PERMISO_DESCRIPCION
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="text-danger">No tiene permisos asignados</p>
            }
        </div>
    </div>
</div>
<script>

        $(document).ready(function () {

            $('.delete_perm_lnk').html("<i class='glyphicon glyphicon-remove text-danger'></i>");

        });
</script>
