﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Progreso de sala</h2>

<div class="row">
    <div class="col-sm-4">
        <br />
        <h3>Sala de 1 año</h3>
        <h4>Los exploradores en acción:</h4>
        <div class="progress col-sm-pull-2">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.sala1%">
                <p>@ViewBag.sala1%</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <br />
        <h3>Sala de 2 años "A"</h3>
        <h4>Los cocodrilos:</h4>
        <div class="progress col-sm-pull-2">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.sala2%">
                <p>@ViewBag.sala2%</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <br />
        <h3>Sala de 2 años "B"</h3>
        <h4>Las vicuñitas andariegas:</h4>
        <div class="progress col-sm-pull-2">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.sala3%">
                <p>@ViewBag.sala3%</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <h3>Sala de 3 años "A"</h3>
        <h4>Los bailarines:</h4>
        <div class="progress col-sm-pull-2">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.sala5%">
                <p>@ViewBag.sala5%</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <h3>Sala de 3 años "B"</h3>
        <h4>Las estrellas:</h4>
        <div class="progress col-sm-pull-2">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.sala4%">
                <p>@ViewBag.sala4%</p>
            </div>
        </div>
    </div>
</div>
