﻿@model cpi_bo.Models.EmployeesModel

@{
    ViewBag.Title = "AddEmployees";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Agregar empleados</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_APELLIDO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_APELLIDO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_NACIONALIDAD_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EMPLEADO_NACIONALIDAD_ID, new SelectList(ViewBag.comboNationalityType, "ID", "DESCRIPCION"), "Seleccionar Nacionalidad", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMPLEADO_NACIONALIDAD_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_TIPODOCUMENTO_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EMPLEADO_TIPODOCUMENTO_ID, new SelectList(ViewBag.comboDocumentType, "ID", "DESCRIPCION"), "Seleccionar tipo de documento", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMPLEADO_TIPODOCUMENTO_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_DOCUMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_DOCUMENTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_DOCUMENTO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="docverify">

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_CUIL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_CUIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_CUIL, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="cuilverify">

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_FECHANACIMIENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_FECHANACIMIENTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_FECHANACIMIENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_ESTADOCIVIL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EMPLEADO_ESTADOCIVIL, new SelectList(ViewBag.comboMaritalStatus, "ID", "DESCRIPCION"), "Seleccionar estado civil", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMPLEADO_ESTADOCIVIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_CANTIDADHIJOS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_CANTIDADHIJOS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_CANTIDADHIJOS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_DOMICILIO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_DOMICILIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_DOMICILIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_LOCALIDAD_CODIGOPOSTAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EMPLEADO_LOCALIDAD_CODIGOPOSTAL, new SelectList(ViewBag.comboLocation, "ID", "DESCRIPCION"), "Seleccionar Localidad", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMPLEADO_LOCALIDAD_CODIGOPOSTAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_FECHAINGRESO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_FECHAINGRESO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_FECHAINGRESO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_OBRASOCIAL_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EMPLEADO_OBRASOCIAL_ID, new SelectList(ViewBag.comboSocialWork, "ID", "DESCRIPCION"), "Seleccionar Obra Social", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMPLEADO_OBRASOCIAL_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMPLEADO_NUMEROAFILIADO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMPLEADO_NUMEROAFILIADO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMPLEADO_NUMEROAFILIADO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al menú", "Index")
</div>

<script>

    $("#EMPLEADO_DOCUMENTO").focusout(function () {
        employeesVerify($("#EMPLEADO_DOCUMENTO").val());
    });


    function employeesVerify(sDocEmployees) {
        $.ajax(
        {
            type: 'GET',
            data: { sDocEmployees: sDocEmployees },
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            async: true,
            url: '/Employees/VerifyDoc/',
            success: function (result) {
                $("#docverify").empty();
                if (result.result) {
                    $("#docverify").append(result.message);
                } else {
                    $("#docverify").append(result.message);
                }
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    };

</script>
<script>

    $("#EMPLEADO_CUIL").focusout(function () {
        employeesVerifyCUIL($("#EMPLEADO_CUIL").val());
    });


    function employeesVerifyCUIL(sCuilEmployees) {
        $.ajax(
        {
            type: 'GET',
            data: { sCuilEmployees: sCuilEmployees },
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            async: true,
            url: '/Employees/VerifyCuil/',
            success: function (result) {
                $("#cuilverify").empty();
                if (result.result) {
                    $("#cuilverify").append(result.message);
                } else {
                    $("#cuilverify").append(result.message);
                }
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    };

</script>

