﻿@model IEnumerable<cpi_bo.Models.EmployeesModel>
@using cpi_bo.Helpers

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listado de empleados</h2>

<div class="table-responsive">
    @if (ViewBag.Message != null)
    {
        @Html.Raw(ViewBag.Message)
    }

    <div class="row">
        <div class="col-sm-2">
            <p>
                @SeguridadTagHelper.SegHrefBtnConIcono("/Employees/AddEmployees", "btn btn-primary", "glyphicon-plus", "Agregar empleado", "Nuevo Empleado", "ADD_EMP")
            </p>
        </div>

        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Exportar
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#"></a>@Html.ActionLink("Excel", "DowloadExcel", new { nameTable = "Empleados" })</li>
                    <li><a href="#"></a>@Html.ActionLink("Csv", "ExportListToCSV", new { nameTable = "Empleados" })</li>
                </ul>
            </div>
        </div>
     </div>


        <table id="tblEmployees" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLEADO_NOMBRE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLEADO_APELLIDO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLEADO_FECHANACIMIENTO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLEADO_DOMICILIO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLEADO_LOCALIDAD_CODIGOPOSTAL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLEADO_DOCUMENTO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLEADO_CUIL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLEADO_NACIONALIDAD_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLEADO_FECHAINGRESO)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADO_NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADO_APELLIDO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADO_FECHANACIMIENTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADO_DOMICILIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADO_LOCALIDAD_CODIGOPOSTAL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADO_DOCUMENTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADO_CUIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADO_DESCRIPCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADO_FECHAINGRESO)
                    </td>
                    <td>
                        @SeguridadTagHelper.SegHrefBtnConIcono("/Employees/EditEmployees?sEmployeesId=" + item.EMPLEADO_ID, "btn-sm btn-warning", "glyphicon-pencil", "Editar empleado", "", "MOD_EMP")
                    </td>
                    <td>
                        @SeguridadTagHelper.SegHrefAjaxConModalIcon("/Employees/DeleteEmployees?iEmpId=" + item.EMPLEADO_ID, "btn-sm btn-danger hidden-print", "modalDeleteEmployees", "glyphicon-lock", "", "Eliminar empleado", "DEL_EMP")
                    </td>
                </tr>
            }      
</table>

    </div>
<div class="modal fade " id="modalAddEmployees" tabindex="-1" role="dialog">
</div>
<div class="modal fade " id="modalEditEmployees" tabindex="-1" role="dialog">
</div>
<div class="modal fade" id="modalDetailEmployees" tabindex="-1" role="dialog">
</div>
<div class="modal fade" id="modalDeleteEmployees" tabindex="-1" role="dialog">
</div>
<div class="modal fade" id="modalViewPerm" tabindex="-1" role="dialog">
</div>

<script>
        $(document).ready(function () {
            $('.detailsEmployees_icon').html("<i class='glyphicon glyphicon-list-alt ' aria-hidden='true' data-toggle='tooltip' title = 'Ver detalles' ></i>");
            $('#tblEmployees').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });
</script>