﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <br />
        <h3>Bienvenido, @ViewBag.userName @ViewBag.surname </h3>
    </div>
</div>