﻿
@{
    ViewBag.Title = "BoysAndGirls";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Grafico de género</h2>

<div id="chart_container">
    <canvas id="pie_chart"></canvas>
    
</div>
<button onclick="createReport()" class="btn btn-primary no-print">Reporte</button>

<script>
    var repArray = @Html.Raw(Json.Encode(ViewBag.REP));
    var gender = ['Masculino', 'Femenino'];

    var ctx = $("#pie_chart");
    var pieChart = new Chart(ctx,{
        type:'pie',
        data: {
            labels: gender,
            datasets:[{
                label:"Genero de los infantes",
                data:repArray,
                backgroundColor:["rgba(242,166,54,.5)","rgba(145,65,72,.5)","rgba(74,25,92,.5)"],
                borderColor:["rgb(242,166,54)","rgb(145,65,72)","rgb(74,25,92)"],
                borderWidth:1
            }]
        },
        options:{
        },
    });
</script>

<script>
        $(document).ready(function () {
            $('.detailsGraphic_icon').html("<i class='glyphicon glyphicon-list-alt ' aria-hidden='true' data-toggle='tooltip' title = 'Ver detalles' ></i>");
            $('#tblGraphic').DataTable();
        });
        function createReport() {
            window.print();
        };
</script>
