﻿
@{
    ViewBag.Title = "Nationality";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Gráfico de nacionalidad de los infantes</h2>

<div id="chart_container">
    <canvas id="pie_chart"></canvas>

</div>

<script>
    var repArray = @Html.Raw(Json.Encode(ViewBag.REP));
    var nationality = @Html.Raw(Json.Encode(ViewBag.NATIONALITY));

    var ctx = $("#pie_chart");
    var pieChart = new Chart(ctx,{
        type:'pie',
        data: {
            labels: nationality,
            datasets:[{
                label:"Nacionalidad de los infantes",
                data:repArray,
                backgroundColor:["rgba(242,166,54,.5)","rgba(145,65,72,.5)","rgba(74,25,92,.5)"],
                borderColor:["rgb(242,166,54)","rgb(145,65,72)","rgb(74,25,92)"],
                borderWidth:1
            }]
        },
        options:{
        },
    });
</script>

